  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p style="text-align: center;">Derechos reservado Venezuela Fintech 2018 | hecho con <i class="fas fa-heart" style="color: #ee2a7b"></i> amor por sus <a href="#">promotores</a> <br> <a href="#">sitemap</a> | <a href="#">terminos y condiciones</a> | <a href="#">acta de constitución</a></p>
      </div>
    </div>
  </div>