<!DOCTYPE html>
<html lang="en">

<% include ./layout/head %>


<body>
   <div class="wrapper">
         <div class="block-center mt-4 wd-xl">
         <!-- START card-->
         <div class="card card-flat">
            <div class="card-header text-center bg-dark">
               <a href="#">
                  <img class="block-center rounded" src="/img/logo.png" alt="Image">
               </a>
            </div>
            <div class="card-body">
               <% include ./layout/alert %>
               <p class="text-center py-2">RECUPERACION DE CLAVE</p>
               <form method="POST" class="mb-3" id="loginForm" action="/recuperar-clave">
                  <p class="text-center">Ingrese su  correo electronico para recibir las instrucciones de como recuperar su clave</p>
                  <div class="form-group">
                     <div class="input-group with-focus">
                        <input name="email"  class="form-control border-right-0" id="exampleInputEmail1" type="email" placeholder="Ingrese su email" autocomplete="off" required>
                        <div class="input-group-append">
                           <span class="input-group-text text-muted bg-transparent border-left-0">
                              <em class="fa fa-envelope"></em>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix">
                     <div class="float-left">
                        <a class="text-muted" href="/">Inicio</a>
                     </div>                  
                     <div class="float-right">
                        <a class="text-muted" href="/auth/signIn">Inicio de sesion</a>
                     </div>
                  </div>                  
                  <button class="btn btn-block btn-primary mt-3" type="submit">Enviar</button>
               </form>
            </div>
         </div>
         <!-- END card-->
         <% include ./layout/min_footer %>
      </div>
   <% include ./layout/scripts %>
</body>

</html>