<!DOCTYPE html>
<html lang="en">
   <% include ./layout/head_index %>
  <body>
    		<!--MENU Y BANNER-->
		
		<div class="banner" id="inicio" >
    <div class="header">
      <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="col-md-1">
        </div>					
        <div class="col-md-2">
          <center>
            <a href="/">
              <img src="img/logo/logo.png" class="img-fluid">
            </a>
            
          </center>

        </div>
        <div class="col-md-6" >
          
              <nav class="navbar navbar-expand-sm">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"><i class="fas fa-bars" style="color: #fff;"></i></button> 
                  <div class="collapse navbar-collapse" id="navbar-collapse">
                      <ul class="nav navbar-nav w-100 justify-content-center">
                          <li class="nav-item"> <a class="nav-link" href="#inicio" style="color: #fff; "><h7> INICIO</h7></a>
                          </li>
                          <li class="nav-item"> <a class="nav-link" href="#nosotros" style="color: #fff;"><h7>QUIÉNES SOMOS </h7></a>
                          </li>
                          <li class="nav-item"> <a class="nav-link" href="#objetivos" style="color: #fff;"><h7>OBJETIVOS</h7></a>
                          </li>
                          <li class="nav-item"> <a class="nav-link" href="#afiliados" style="color: #fff; "><h7>MIEMBROS</h7></a>
                          </li>
                          <li class="nav-item"> <a class="nav-link" href="#novedades" style="color: #fff; "><h7>NOVEDADES</h7></a>
                          </li>                       
                      </ul>
                  </div>
                    
              </nav>
        
        </div>
        <div class="col-md-2">
        <% if (authenticated) {%>
        <div style="margin-top: 10px;">
          <a href="/auth/signOut" class="btn btn-sm" style="background-color: #ee2a7b; color: #fff; border-radius: 52px; width: 80%; font-weight: bold; ">SALIR</a>
        </div>         
        <% }else { %>
        <div style="margin-top: 10px;">
          <a href="/auth/signIn"  class="btn btn-sm" style="background-color: #ee2a7b; color: #fff; border-radius: 52px; width: 80%; font-weight: bold; ">INGRESAR</a>
        </div>                         
        <% } %> 
        </div>
        <div class="col-md-1">
          
        </div>
      </div>

    </div>
      <div class="row">
        <div class="col-md-12" style="height: 150px;">
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" >
        </div>
        <div class="col-md-8" >
          <center>
            <div style="width: 68%;">
              <h2 style="color: #fff; text-align: center;">SOCIEDAD VENEZOLANA DE FINTECH 
            Y NUEVAS TECNOLOGÍAS</h2>
            </div>
            
          </center>
          
        </div>
        <div class="col-md-2">
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div style=" text-align: center; width: 100%;">
            <h7 style="text-align:center ; color: #fff;">Construimos una sociedad de cultura tecnológica avanzada a través de la integración, la capacitación, la innovación y el trabajo en equipo.</h7>
          </div>
          <br><br>
          <center>
            <a href="#nosotros" id="conoce" class="btn btn-md" style="width: 160px; height: 100%; font-weight: bold; background-color: #068EDC; color: #fff; border-radius: 52px;"><h7>CONOCE MÁS</h7></a>

          </center><br><br>
        </div>
        <div class="col-md-4">
          
        </div>
      </div>
    </div>
    
      <!--FIN MENU Y BANNER-->

  <!--BLOQUE 1-->

  <div class="container-fluid" id="bloque1" >

    <div class="row" id="nosotros">
      <div class="col-sm-1">
      </div>
        <div class="col-sm-6" id="bloque1-imagen">
          <img src="img/bloque1/bloque1.jpg"  class="img-fluid" width="900px" height="600px">
      </div>
      <div class="col-sm-4" id="quienes-somos">
          <h4 style="text-align: left;">¿QUIÉNES SOMOS?</h4>
          <div class="row">
            <div class="col-md-2">
              
            </div>
            <div class="col-md-4">
              <div id="estilo" class="col-centrada"></div>

            </div>
            <div class="col-md-3">
              
            </div>
            <div class="col-md-2">
              
            </div>
            <div class="col-md-1">
              
            </div>
          </div>
          <p class="somos">Somos una asociación civil sin fines de lucro creada para generar valor e integración entre los miembros de la Asociación como actores principales en el desarrollo y promoción de nuevas tecnologías, entes reguladores y la comunidad como usuario final.</p>

          
          <h4 style="text-align: left;">Nuestros principios</h4>
          <div class="row">
            <div class="col-md-2">
              
            </div>
            <div class="col-md-4">
              <div id="estilo" class="col-centrada"></div>

            </div>
            <div class="col-md-3">
              
            </div>
            <div class="col-md-2">
              
            </div>
            <div class="col-md-1">
              
            </div>
          </div>
          <div style="text-align: left;" class="principios">
            <p><i class="fas fa-circle" style="color: #EE2A7B;"></i> Transparencia</p>
          <p><i class="fas fa-circle"  style="color: #EE2A7B;"></i> Descentralización</p>
            <p><i class="fas fa-circle"  style="color: #EE2A7B;"></i> Consenso</p>
            <p><i class="fas fa-circle"  style="color: #EE2A7B;"></i> Innovación</p>
            <br>
            <a href="#conoce-mas" align=left class="btn btn-md" style="background-color: #0072B3; color: #fff; border-radius: 52px; font-weight: bold; width: 220px; height: 100%; ">SÉ PARTE DE FINTECH</a>

          </div>


      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>

  <!--FIN BLOQUE 1-->


  <!--BLOQUE2-->

  <div class="container-fluid" id="objetivos">
    <div class="row">
      <div class="col-md-1" id="img">
        
      </div>
      <div class="col-md-10">
        <div class="row">
            
          <div class="col-md-12" style="background-color: #068EDC; padding-bottom: 0px; width: 1200px;">
            <div class="row">
              <div class="col-md-12">
                <div class="objetivos">
                  <h4 style="color: #fff; text-align: center;" >OBJETIVOS</h4>
                  <div class="row">
                      <div class="col-md-12">
                        <div id="estilo-objetivos" class="col-centrada"></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

        
        
              <div class="row blog" id="fila-objetivos">
                <div class="col-md-12">
                          <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                      <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                      <li data-target="#blogCarousel" data-slide-to="1"></li>
                                    </ol>
                              

                                <!-- Carousel items -->
                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div class="row" style="margin-left: 40px; margin-right: 40px;">
                                          <div class="col-md-3">
                                            <img src="img/bloque2/1.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                <p style=" color: #fff;" id="p-objetivos">Entablar lazos de colaboración con universidades nacionales o extranjeras, con organismos gubernamentales y no gubernamentales; así como otros centros de investigación y docencia nacionales y extranjeros.</p>
                                      </div>
                                      <div class="col-md-3">
                            <img src="img/bloque2/2.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                  <p style="color: #fff;" id="p-objetivos">Elaboración de eventos a los fines de promover las experiencias de sus miembros con potenciales colaboradores, clientes y asociados, gremios profesionales, universidades, centros de investigación y organismos gubernamentales y no gubernamentales.</p>
                             </div><!-- /.col-lg-4 -->
                              <div class="col-md-3">
                            <img src="img/bloque2/3.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                <p style=" color: #fff;" id="p-objetivos">Promover la formación de entornos colaborativos en los que sus participantes realicen propuestas de innovación tecnológica en las diversas áreas del intercambio social tendentes a la optimización de procesos y generación de valor.</p>
                              </div><!-- /.col-lg-4 -->
                              <div class="col-md-3" id="prueba">
                            <img src="img/bloque2/4.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                <p style="  color: #fff;" id="p-objetivos">Promover la implementación de procesos de gobernanza, gestión y de toma de decisiones transparentes, confiables y descentralizadas mediante el uso de las nuevas tecnologías.</p>
                              </div>
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                      <div class="row" style="margin-left: 40px; margin-right: 40px;">
                                        <div class="col-md-3">
                            <img src="img/bloque2/3.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                <p style=" color: #fff;" id="p-objetivos">Promover la formación de entornos colaborativos en los que sus participantes realicen propuestas de innovación tecnológica en las diversas áreas del intercambio social tendentes a la optimización de procesos y generación de valor.</p>
                              </div><!-- /.col-lg-4 -->
                                        <div class="col-md-3">
                            <img src="img/bloque2/4.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                <p style=" color: #fff; " id="p-objetivos">Promover la implementación de procesos de gobernanza, gestión y de toma de decisiones transparentes, confiables y descentralizadas mediante el uso de las nuevas tecnologías.</p>
                              </div>
                                         
                                          <div class="col-md-3">
                                            <img src="img/bloque2/5.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                <p style=" color: #fff;" id="p-objetivos">La promoción de los derechos fundamentales y su garantía mediante la implementación de las nuevas tecnologías.</p><br>
                                      </div>
                                          <div class="col-md-3">
                                            <img src="img/bloque2/6.png" class="img-fluid mx-auto d-block" width="100px" height="100px" id="objetivos-3"><br>
                                <p style="  color: #fff;" id="p-objetivos">Fomentar y promover los altos estudios en el área de investigación en nuevas tecnologías.</p><br><br>
                                      </div>
                                         
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>	
             </div>
          
        </div>
      </div>
      <div class="col-md-1" id="img2">
        
      </div>
    </div>
  </div>
  <!--FIN BLOQUE2-->

  <!--BLOQUE3-->
  <div class="container-fluid" id="bloque3">
    <div class="row" id="conoce-mas">
        <div class="col-md-2" >
      </div>
      <div class="col-md-8"  id="unete"  style="background-color: #383838; width: 900px; color: #fff; border-radius: 20px; box-shadow: 5px 10px 18px #383838;">
        <div style="margin: 40px 5px 20px 20px;" >
          <h4 style="color: #fff; text-align: center;">Únete a Fintech Venezuela</h4>
          <div class="row" style="padding: 20px; font-size: 15px;">
            <div class="col-md-3" id="caja-unete">
              <center>
                <button id="div1" type="button" class="btn" style="background-color: #383838; color: #fff; border: 2px solid #52E9FF; border-radius: 25px;">Particular</button>
              </center>
            </div>
            <div class="col-md-3" id="caja-unete">
              <center>
               <button id="div2" type="button" class="btn" style="background-color: #383838; color: #fff; border: 2px solid #fff; border-radius: 25px;">Jurídico</button>
              </center>
            </div>
            <div class="col-md-3" id="caja-unete">
              <center>
               <button id="div3" type="button" class="btn" style="background-color: #383838; color: #fff; border: 2px solid #fff; border-radius: 25px;">Emprendedor</button>
              </center>
            </div>
            <div class="col-md-3" id="caja-unete">
              <center>
               <button id="div4" type="button" class="btn" style="background-color: #383838; color: #fff; border: 2px solid #fff; border-radius: 25px;">Aliado</button>
              </center>
            </div>
          </div>
        </div>

        <% include associates/personal_register %>
        <% include associates/legal_register %>
        <% include associates/entrepeneur_register %>
        <% include associates/ally_register %>  
        
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
  </div><br><br>

  <!--FIN BLOQUE3-->


  <!--BLOQUE 4-->
  <div class="container-fluid" id="afiliados">
    <div class="row">
          <div class="col-md-12 text-center">
            <h4>PATROCINADORES</h4>
            <div class="row">
              <div class="col-md-12">
                <center><div class="estilo-miembros"></div></center>
              </div>
            </div>
            <h6>Conoce nuestros patrocinadores agremiados</h6><br>
        </div>
    </div>
    <!-- CAROUSEL patrocinadores -->
    <div class="row text-center">
      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item row no-gutters active">
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/1.jpg"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/2.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/3.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/4.png"></div>
              </div>
              <div class="carousel-item row no-gutters">
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/5.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/6.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/7.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/8.png"></div>
              </div>
              <div class="carousel-item row no-gutters">
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/9.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/10.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/11.jpg"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/12.png"></div>
              </div>
              <div class="carousel-item row no-gutters">
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/13.jpg"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/14.jpg"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/15.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/16.png"></div>
              </div>
              <div class="carousel-item row no-gutters">
                  <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/17.jpg"></div>
                  <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/4.png"></div>
                  <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/3.png"></div>
                  <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/6.png"></div>
              </div>
              <div class="carousel-item row no-gutters">
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/1.jpg"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/2.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/3.png"></div>
                <div class="col-3 float-left"><img class="img-fluid" src="img/patrocinadores/4.png"></div>
              </div> 
            </div>
          <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Proximo</span>
          </a>
        </div>
      </div>
      <!-- FIN Carousel-->
    </div>
</div>
  <!--BLOQUE4 FIN-->

  <!--BLOQUE5-->
  <div id="novedades">
    <div class="container-fluid" id="bloque4">

      <div class="row" id="bloque4-novedades">
        <div class="col-md-12 py-4">
          <center><h4 style="color: #fff;">NOVEDADES</h4></center>
              <div class="row">
                  <div class="col-md-12">
                    <center><div class="estilo-novedades"></div></center>
                  </div>
                </div>
        </div>
      </div>

      <div>
      <!-- medium -->
      <div id="medium-widget"></div>
        <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
        <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@ve.fintech","postsPerLine":4,"limit":4,"picture":"big","fields":["description","claps","likes","publishAt"],"ratio":"landscape"}})</script>  
      </div>
    </div>
  </div>
  <!-- Blog (medium) -->

  <!-- Indicadores -->
  <div class="container-fluid " style="background-color: #131e26;color: #fff!important;">
 
      <div class="row" id="bloque4-novedades">
          <div class="col-md-12 py-4">
            <center><h4 style="color: #fff;">NUESTRA RED</h4></center>
                <div class="row">
                    <div class="col-md-12">
                      <center><div class="estilo-novedades"></div></center>
                    </div>
                  </div>
          </div>
        </div> 
 
      <% include indicators %>
  </div>

  <!-- Instagram -->

  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-4a766e4a-fada-4010-a915-7c4bd0f9bb3a"></div>

  <!--footer-->
    <div class="container-fluid">
      <div class="footer">
        <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
          <div class="col-md-4" style="border-right: 1px solid #ee2a7b; padding-top: 5px;">
            <center>
              <img src="img/footer/footer.png" class="img-fluid">
            </center>
            <div class="row">
              <div class="col-md-12" >
                <br>
                <div style="width: 70%;" class="col-centrada">
                  <p style="text-align: center; line-height: 18pt;">
                    Construimos una sociedad de cultura tecnológica avanzada a través de la integración, la capacitación, la innovación y el trabajo en equipo. 
                  </p>
                </div>
                
              </div>
            </div>
          </div>					
          <div class="col-md-4 text-center" style="border-right: 1px solid #ee2a7b; padding-top: 5px;">
             <ul class="nav navbar-nav w-100 justify-content-center">
                  <li class="nav-item"> <a class="nav-link" href="#inicio" style="color: #383838;   font-weight: bold; margin:2px; font-size: 14px; "><h7>INICIO</h7></a></li>
                  <li class="nav-item"> <a class="nav-link" href="#nosotros" style="color: #383838; font-weight: bold; margin:2px; font-size: 14px;"><h7>QUIÉNES SOMOS</h7></a></li>
                  <li class="nav-item"> <a class="nav-link" href="#objetivos" style="color: #383838; font-weight: bold; margin:2px; font-size: 14px;"><h7>OBJETIVOS</h7></a></li>
                  <li class="nav-item"> <a class="nav-link" href="#afiliados" style="color: #383838; font-weight: bold; margin:2px; font-size: 14px;"><h7>PATROCINADORES</h7></a></li>
                  <li class="nav-item"> <a class="nav-link" href="/afiliados" style="color: #383838; font-weight: bold; margin:2px; font-size: 14px;"><h7>MIEMBROS</h7></a></li>                          
                  <li class="nav-item"> <a class="nav-link" href="#novedades" style="color: #383838; font-weight: bold; margin:2px; font-size: 14px; "><h7>NOVEDADES</h7></a></li>                          
              </ul>
                      <div class="row">
                        <div class="col-md-12" style="margin-top: 5px;">
                          <a href="https://commerce.coinbase.com/checkout/74f7177a-2ea2-4304-ad88-ffebc2fb8fc1" class="btn btn-lg" target="_blank" style="background-color: #f7931a; border-radius: 52px; font-weight: bold; color: #fff;">DONA EN <i class="fab fa-btc"></i></a>
                        </div>
                      </div>

          </div>
          <div class="col-md-4"  style="border-right: 1px solid #ee2a7b;">
              <center>
                <div style="padding-top: 35px; padding-bottom: 7px;">

                  <div class="row">
                    <div class="col-md-12" style="margin-bottom: 5px;">
                      <a href="https://twitter.com/VeFintech" target="_blank"><i class="fab fa-twitter fa-3x" id="redes-sociales"></i></a>
                      <a href="https://www.facebook.com/ve.fintech/" target="_blank"><i class="fab fa-facebook-f fa-2x" id="redes-sociales"></i></a>
                      <a href="https://www.instagram.com/ve.fintech/" target="_blank"><i class="fab fa-instagram fa-2x" id="redes-sociales"></i></a>
                      <a href="https://www.youtube.com/channel/UCFNa0s1ZVEcvuK2xG093PKQ" target="_blank"><i class="fab fa-youtube fa-2x" id="redes-sociales"></i></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12"><i class="fab "></i>
                      <a href="https://medium.com/@ve.fintech" target="_blank"><i class="fab fa-medium fa-2x" id="redes-sociales"></i></a>
                      <a href="https://github.com/vefintech" target="_blank"><i class="fab fa-github-alt fa-2x" id="redes-sociales"></i></a>
                      <a href="https://us19.admin.mailchimp.com/campaigns/s" target="_blank"><i class="far fa-envelope fa-2x" id="redes-sociales"></i></a>
                    </div>
                  </div>
                </div>
              </center>
              <div id="mc_embed_signup">
                <form action="https://venezuelafintech.us19.list-manage.com/subscribe/post?u=30b086771ef16d66cefd84c76&amp;id=80fc8b296c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                  <center><label for="mce-EMAIL">Subscríbete a nuestro newsletter</label>
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_30b086771ef16d66cefd84c76_80fc8b296c" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div></center>
                    </div>
                </form>
              </div>	
          
          </div>
      </div>
    </div>
  </div>
  <% include footer_index %> 
  <% include ./layout/scripts_index %> 
  </body>
</html>