<div class="container-fluid">
    <div class="row"> 
        <% for(var i=0;i<stats.length; i++) {%>
        <% const item = stats[i] %>
        <div class="col-sm py-3 align-items-center">
            <h1 class="text-warning"><%= item.n %></h1>
            <div class="text-uppercase"><%= item.name  %></div>        
        </div>
        <% } %>    
    </div>
</div>