<!DOCTYPE html>
<html lang="en">

<body>
 <div style="style: margin: 0 auto;">
    <img style="width: 100%" src="http://www.venezuelafintech.org/img/header_mail.png" />
    <div style="height: 250px;">
    <p> Hola, <strong><%=email %></strong></p>
    <p>Hemos detectado un inicio de sesion. </p>
    <p>Si no fuiste tu, te invitamos a ingresar a nuestra plataforma <a href="http://www.venezuelafintech.org">Fintech de Venezuela<a>, para que cambies tu clave de acceso.</p>    
    <br />
    <p><a href="http://www.venezuelafintech.org">Fintech de Venezuela<a></p>
    </div> 
    <img style="width: 100%" src="http://www.venezuelafintech.org/img/footer_mail.png" />
 </div>

</body>

</html>