<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Fintech Venezuela</title>
  <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <link rel="icon" type="image/png" href="img/favicon/fintech.png">
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Ab4cus tecnología">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/all.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/index.css">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@veFinTech">
	<meta name="twitter:creator" content="@veFinTech">
	<meta name="twitter:title" content="ve.Fintech">
	<meta name="twitter:description" content="e4Cash es una red de micropagos desarrollada con tecnología Blockchain de 3ra generacion, de afiliación gratuita, auto gestionable, práctica, conveniente, segura, fácil de usar, sin papeleo, sin monto mínimos, sin gastos de mantenimiento, sin importar donde te encuentres, funciona para personas y comercios estando o no afiliados a la banca tradicional.">
	<meta name="twitter:image" content="http://www.e4cash.com/assets/img/brand/e4cash-social.png">

	<!-- Facebook -->
	<meta property="og:url" content="http://www.venezuelafintech.org">
	<meta property="og:title" content="FinTech">
	<meta property="og:description" content="e4Cash es una red de micropagos desarrollada con tecnología Blockchain de 3ra generacion, de afiliación gratuita, auto gestionable, práctica, conveniente, segura, fácil de usar, sin papeleo, sin monto mínimos, sin gastos de mantenimiento, sin importar donde te encuentres, funciona para personas y comercios estando o no afiliados a la banca tradicional.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://www.venezuelafintech.org/img/brand/e4cash-social.png">
	<meta property="og:image:secure_url" content="http://www.venezuelafintech.org/img/brand/e4cash-social.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130692768-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130692768-1');
  </script>

  </head>