 <!-- top navbar-->
 <header class="topnavbar-wrapper">
 <!-- START Top Navbar-->
 <nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
       <a class="navbar-brand" href="/">
          <div class="brand-logo">
             <img class="img-fluid" src="/img/logo.png" alt="App Logo">
          </div>
          <div class="brand-logo-collapsed">
             <img class="img-fluid" src="/img/logo-single.png" alt="App Logo">
          </div>
       </a>
    </div>
    
    <!-- START Right Navbar-->
    <ul class="navbar-nav flex-row">
       
       <li class="nav-item">
          <a class="nav-link" href="/auth/signIn" >
             <em class="icon-lock-open"></em>
          </a>
       </li>
       
       <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#" data-toggle-fullscreen="">
             <em class="fas fa-expand"></em>
          </a>
       </li>
    </ul>
 </nav>
 <!-- END Top Navbar-->
</header>